<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>insert_Webpage</h1>

        <form method="POST">
            {% csrf_token %}

            <label for="tn">Topic_name</label>
            <select name="tn" id="tn">
                {% for to in topics %}
                    <option value="{{to.tname}}">{{to.tname}}</option>
                {% endfor %}
             </select>
             <br><br>
             <label for="na">name</label>
             <input type=
        </form>
    </center>
</body>
</html>